html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  background-color: #221f1f;
}

* {
  box-sizing: inherit;
  font-family: 'Open Sans', sans-serif;
  color: #f9f9f9;
}

.hide {
  display: none !important;
}