.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__search {
  position: relative;
}

.logo {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 5em;
}